@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    padding: 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://i.ibb.co/g4Kn4q6/b3787acab53ff86528de9abd1f3c8d75.png);
    background-size: cover;

}
h1 {
    text-align: center;
    color: #d7d7e2;
    margin: 10px 0;
}

#paragraph {
    color: #fcfcfc8f;
}

.result-details {
    color: rgb(255, 255, 255);
}

::selection {
    color: #ffffff;
    background: #24668f;
}

.wrapper {
    max-width: 1200px;
    width: 100%; /* Changed to 90% for responsiveness */
    height: auto;
    padding: 35px;
    background: #07070713;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    overflow: hidden; /* Prevent overflow */
}

.wrapper .input-field {
